<div class="card my-5">
  <div class="card-body">
    <h1>New Project</h1>

    <%= render 'form', project: @project %>

    <%= link_to 'Back', projects_path, class: 'btn btn-light mt-2' %>
  </div>
</div>